*{
    box-sizing: border-box;
}

header,main,aside{
    float: left;
    width: 15%;   
}

main{
    width: 50%;
}
aside{
    width: 35%;
}
ul>li{
    list-style-type: none;
}
span{
    
    width: 100%;
    float: left;
    padding-left: 15%;
}
main img{
    width: 100%;
}
div{
    width: 85%;
    margin-left: 15%;
}
 section {
    float: left;
    width: 33.3333%;
}

