body{
    font-size: 62.5%;
}

nav ul{
    display: flex;
    gap: 8%;
    justify-content:flex-end ;
    border: 0.5vh solid black;
    font-size: 1.5rem;
}
nav ul li{
    list-style: none;
}

@media screen and (max-width:500px) {
    nav ul{
        height: 40vh;
        flex-direction: column;
        align-content: flex-start;
        gap: 10%;
        font-size: 2rem;
    }


}

